header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;
}

main section h1,
footer {
  text-align: center;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.hidden {
  display: none;
}
