* {
  /* outline: 1px black solid; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  /* margin: 0;
  padding: 0; */
}

header > nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: lightblue; */
}

header > section > h1 {
  text-align: center;
}

body {
  /* display: flex; */
  width: 99%;
  height: 99%;
}

main > section,
footer,
p {
  /* width: 96%;
  height: 96%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
