* {
  /* outline: 1px red dashed; */
  /* border: 1px black solid; */
  box-sizing: border-box;
  /* box-shadow: 10px 1px rgb(240, 240, 12); */
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  width: 50%;
  height: 80%;
  margin: 0 auto;
  /* border-radius: 90%; */
}

h1,
h3 {
  text-align: center;
}

form {
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input {
  /* border-radius: 0 0 80% 80%; */

  margin: 0 auto;
  /* margin: 0 39%; */
}

button {
  margin: 4% auto;
}

img {
  /* display: block; */
  max-width: 90%;
  margin: 10% auto;
  border-radius: 100%;
}
